<div class="card">
  <div class="card-body">
    <h6 class="card-title">{{sponsor.Voornaam | titlecase}} {{sponsor.Achternaam | titlecase}}</h6>
    <p> Sponsorde
      {{participant?.Voornaam | titlecase}}
      {{participant?.Achternaam | titlecase}} voor
      {{sponsor.Bedrag | currency:'EUR'}}</p>
  </div>
  <div class="btn-group">
    <a class="card-link btn btn-outline-secondary" (click)="onEdit(sponsor)">Edit</a>
    <a class="card-link btn btn-outline-danger" (click)="onDelete(sponsor.id)">Delete</a>
    <button
      class="btn btn-outline-primary"
      type="button"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="isCollapsed"
      aria-controls="collapseDetails">
      Boodschap
    </button>

  </div>
  <div id="collapseDetails" [ngbCollapse]="isCollapsed">
    <div class="card text-center">
      <div class="card-body">
        <p class="card-text">{{sponsor.Boodschap}}</p>
      </div>
    </div>
  </div>
</div>

