<div class="container-fluid card">
  <div class="card-header">
    <h4 class="card-title">Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body">
    <p>Voornaam: {{participant.Voornaam}}</p>
    <p>Achternaam: {{participant.Achternaam}}</p>
    <p>Omschrijving: {{participant.Omschrijving}}</p>
    <p>Gekozen Goed Doel: {{participant.GoedDoelNaam}}</p>
    <p>omschrijving goed doel: {{participant.GoedDoelOmschrijving}}</p>
    <p>naar goed doel:<a class="btn-link" href="http://{{participant.GoedDoelLink}}"> Link</a></p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let sponsor of sponsors">
        {{sponsor.Voornaam | titlecase}} {{sponsor.Achternaam | titlecase}} {{ sponsor.Bedrag | currency:'EUR'}}
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-danger" (click)="onCancel()">close</button>
    <button type="button" class="btn btn-secondary" (click)="onSponsor(participant.id)">Sponser Deelnemer</button>
  </div>
</div>
