<div class="input-group">
  <select #selectedParticipant
    class="custom-select">
    <option disabled>Kies Deelnemer</option>
    <option
      [value]="participant.id"
      *ngFor="let participant of participants">
      {{participant.Voornaam | titlecase}}
      {{participant.Achternaam | titlecase}}
    </option>
  </select>
  <button class="btn btn-success" (click)="addSponsor(selectedParticipant.value)">Sponsor participant</button>
</div>
<hr>

<div class="container-fluid">
  <app-sponsor-item
    class="item"
    *ngFor="let sponsor of sponsors; let i = index"
    [sponsor]="sponsor"
    [index]="i"
  ></app-sponsor-item>
</div>
