<div class="container">
  <img src="../../assets/muur.png" class="img-fluid rounded" alt="De muur">
  <h3>Woordje uitleg</h3>
  <p>
    De Oudleiding van Chirojongens Wezel steunt Music for Life! Tal van oudleiders zullen op 3 november het beste van zichzelf geven in een groot Muurke Tennis Tornooi. Geen idee wat Muurke Tennis is? Geen erg, we leggen het u op 3 november graag uit.
    Ik ben geen oudleiding en dus heb ik hier toch niets mee te maken, horen we u al denken? Fout, fout, drie keer fout! Meer nog, we rekenen op u! Op uw aanwezigheid, en op uw centen! Want wij gaan ons niet alleen belachelijk hard amuseren, wij gaan er ook nog goede doelen mee steunen!
    Wat kan u doen?
    - Simpel: aanwezig zijn! Muurke Tennis is een spel waar het spektakelwaarde hoger ligt dan dat van de Pak De Poen-show destijds, en dus zullen de supporters zich niet vervelen. Wij schuiven wel een stoel onder uw achterwerk, zorgen voor uw droge keel en bieden een antwoord op ieder hongerke! 's Avonds kan er nagekaart worden met een pintje. Tegen betaling uiteraard. De winst gaat naar het goede doel van de winnaar van het tornooi, maar daarover meer na het volgende streepje!
    - U hebt 3 november al iets gepland of woont mijlenver van het pittoreske Wezel? Neen, dat is geen excuus. Elke oudleider die deelneemt heeft een goed doel gekozen dat hij bijzonder belangrijk vindt. U kan elke oudleider sponsoren door een gift te doen op het rekeningnummer BE26 0636 5238 2629, met vermelding van de naam van die oudleider. Uw geld komt dan so-wie-so terecht bij het goede doel dat die oudleider gekozen heeft. U kan ook gewoon een algemene gift doen, dan komt het geld bij het goede doel van de winnaar terecht. Een overzicht van de deelnemers met hun goed doel vindt u op onze website: https://muurketennis4life.wixsite.com/publiek
    Vragen? Opmerkingen? Veel zwart geld dat u cash wil geven? U denkt ons op een andere manier te kunnen helpen? Stuur gerust een mailtje naar muurketennis@hotmail.com
  </p>
</div>
